{% extends "base.html" %}

{% block title %}
    Змінити пароль
{% endblock %}

{% block header_classes %}bg-[#5a2d4a] py-4 shadow-md{% endblock %}
{% block header_script %}{% endblock %}

{% block content %}
    <div class="min-h-[80vh] flex items-center justify-center px-4 pt-32 pb-20">
        <div class="max-w-md w-full text-center space-y-6 bg-white p-10 rounded-3xl shadow-sm border border-gray-100">
            <h2 class="text-3xl font-bold text-[#5a2d4a]">Перевірте пошту</h2>
            <p class="text-gray-600">Ми надіслали вам інструкції зі скидання пароля на вказану електронну адресу. Якщо лист не прийшов, перевірте папку "Спам".</p>
        </div>
    </div>
{% endblock %}